<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Add product</title>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">HOME</a>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully edited machine data!</div>
            </div>

            <h1>Enter new product data</h1>
            <form th:action="@{/addproduct}" th:object="${product}" method="post">

                <span class="error-message" th:if="${#fields.hasGlobalErrors()}"
                      th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error
                </span>

<!--                <div class="form-group">-->
<!--                    <label for="id" class="control-label">Id</label>-->
<!--                    <input id="id" type="hi" class="form-control" th:field="*{id}" readonly="readonly">-->
<!--                    &lt;!&ndash;                    <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Name Error</div>&ndash;&gt;-->
<!--                </div>-->
                <div class="form-group">
                    <label for="name" class="control-label">Name</label>
                    <input id="name" type="text" class="form-control" th:field="*{name}">
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('packShape')}? 'has-error':''">
                    <label for="packShape" class="control-label">Pack shape(1-can, 2-bottle, 3-pouch, 4-box, 5-bar, 6-cup)</label>
                    <input id="packShape" class="form-control" th:field="*{packShape}"/>
                    <span class="error-message" th:each="error : ${#fields.errors('packShape')}" th:text="${error}">Validation
                        error
                    </span>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('forSpiralSize')}? 'has-error':''">
                    <label for="forSpiralSize" class="control-label">Spiral Size</label>
                    <input id="forSpiralSize" class="form-control" th:field="*{forSpiralSize}"/>
                    <span class="error-message" th:each="error : ${#fields.errors('forSpiralSize')}" th:text="${error}">Validation
                        error
                    </span>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('price')}? 'has-error':''">
                    <label for="price" class="control-label">Price</label>
                    <input id="price" class="form-control" th:field="*{price}"/>
                    <span class="error-message" th:each="error : ${#fields.errors('price')}" th:text="${error}">Validation
                        error
                    </span>
                </div>




                <div class="form-group">
                    <button type="submit" class="btn btn-success">Save</button>

                </div>

            </form>
        </div>
    </div>
</div>

<!--<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>-->
<!--<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>