<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>File Upload / Download</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Registration and Login Module</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Upload Multiple Files</h1>
            <form id="uploadFiles" name="uploadFiles" method="post" th:action=@{/uploadFiles}
                  encType="multipart/form-data">
                <input type="file" name="files" multiple required/>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>

        <div class="col-md-6 col-md-offset-3">
            <h1>List of Documents</h1>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <div th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'',''USER'')')}">
                        <th>Download Link</th>
                    </div>
                    <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                        <th>Delete Link</th>
                    </div>
                </tr>
                </thead>
                <tbody>
                <tr th:each="file:${files}">
                    <td th:text="${file.id}"/>
                    <td th:text="${file.fileName}"/>
                    <div th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'',''USER'')')}">
                        <td><a th:href="@{'/downloadFile/'+${file.id}}">Download</a></td>
                    </div>
                    <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                        <td><a th:href="@{'/deletefile/'+${file.id}}">Delete</a></td>
                    </div>


                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>
<!--visibilty for roles-->
<!--<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">ADMIN</div>-->
<!--<div th:if="${#authorization.expression('hasAuthority(''USER'')')}">USER</div>-->
<!--<div th:if="${#authorization.expression('isAuthenticated()')}">-->
<!--    Text visible only to authenticated users.-->
<!--</div>-->
<!--</div>-->