<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Registration</title>
    <script src="JS/clock.js" ></script>
</head>

<body onload="odliczanie();">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand glyphicon glyphicon-home" th:href="@{/}" aria-hidden="true"></a>
<!--            <a class="navbar-brand" href="#" th:href="@{/}">HOME</a>-->
            <a class="navbar-brand" href="#" th:href="@{/getfiles}">File Center</a>
            <a class="navbar-brand" href="#" th:href="@{/machines}">Machines</a>
            <a class="navbar-brand" href="#" th:href="@{/products}">Products</a>
            <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <a class="navbar-brand" href="#" th:href="@{/users}">Users</a>
            </a>
            <a sec:authorize="isAuthenticated()"><a class="navbar-brand" th:href="@{/logout}" style="color: green">Logout</a></a>

            <div id="clock" class="navbar-brand" style="color: royalblue"></div>
<!--            <script type="text/javascript">-->
<!--                document.getElementById("clock").innerHTML = dzien + "/" + miesiac + "/" + rok + "  " + godzina + ":" + minuta + ":" + sekunda;-->
<!--            </script>-->

        </div>
    </div>
</nav>

<br>
<br>
<div id="map" class="container">
    <h3>Login successful</h3>
    <br>
    <p>
        Welcome <span sec:authentication="principal.username">User</span>
        &nbsp;
        <span sec:authentication="principal.authorities"></span>
    </p>
</div>
<div class="container">
    <h3>Our location 1</h3>
    <br>
    <p>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2503.765851465761!2d16.779314315642253!3d51.13122687957498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fbe146ed2be8f%3A0xa29bbf6a9895f4e7!2sPolna%208%2C%2055-330%20Lutynia!5e0!3m2!1spl!2spl!4v1607160616917!5m2!1spl!2spl"
                width="600" height="450" frameborder="0" style="border:2px;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
    </p>
</div>
<!--<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>-->
<!--<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>