<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Machines</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">HOME</a>
            <a th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'',''USER'')')}">
                <a class="navbar-brand" href="#" th:href="@{/addmachine}">Add machine</a>
            </a>

        </div>
        <a sec:authorize="isAuthenticated()"><a class="navbar-brand"th:href="@{/logout}" style="color: green ">Logout</a></a>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>List of Machines</h1>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Serial</th>
                    <th>Shelves</th>
                    <th>Slots per shelf</th>
                    <th>Date of installation</th>
                    <div th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'',''USER'')')}">
                        <th>Edit Link</th>
                    </div>
                    <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                        <th>Delete Link</th>
                    </div>
                </tr>
                </thead>
                <tbody>
                <tr th:each="machine:${machines}">
                    <td th:text="${machine.id}"/>
                    <td th:text="${machine.name}"/>
                    <td th:text="${machine.type}"/>
                    <td th:text="${machine.serial}"/>
                    <td th:text="${machine.shelves}"/>
                    <td th:text="${machine.slotsPerShelf}"/>
                    <td th:text="${machine.instDate}"/>

                    <div th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'',''USER'')')}">
                        <td><a th:href="@{'/editmachine/'+${machine.id}}">Edit</a></td>
                    </div>
                    <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                        <td><a th:href="@{'/deletemachine/'+${machine.id}}">Delete</a></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>

        </div>

</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>