<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Slots in machine</title>
    <style>
        body {
            margin: 0;
            padding: 2rem;
        }

        table {
            text-align: left;
            position: relative;
            border-collapse: collapse;
        }
        th, td {
            padding: 0.25rem;
        }
        th {
            background: white;
            position: sticky;
            top: 100px; /* Don't forget this, required for the stickiness */
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">HOME</a>
<!--            <a th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'',''USER'')')}">-->
<!--                <a class="navbar-brand" href="#" th:href="@{/addslo}">Add machine</a>-->
<!--            </a>-->

        </div>
        <a sec:authorize="isAuthenticated()"><a class="navbar-brand"th:href="@{/logout}" style="color: green ">Logout</a></a>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>List of Slots</h1>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="text-align:center" >Slot ID</th>
                    <th style="text-align:center" >Slot No</th>
                    <th style="text-align:center" >Active</th>
                    <th style="text-align:center" >Product (suggested spiral size)</th>
                    <th style="text-align:center" >Price</th>
                    <th style="text-align:center" >Spiral size</th>

                    <div th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'',''USER'')')}">
                        <th>Edit Link</th>
                    </div>


                </tr>
                </thead>
                <tbody>
                <tr style="text-align:center" th:each="slot:${slots}">
                    <td th:text="${slot.id}"/>
                    <td th:text="${slot.slotNo}" />
                    <td th:text="${slot.isActive}"/>
                    <td th:text="${slot.product.name} + ' (' + ${slot.product.forSpiralSize} + ')'"/>
                    <td th:text="${slot.product.price}"/>
                    <td th:text="${slot.spiralSize}"/>
<!--                    example of condition-->
<!--                    <td th:text="${slot.getIsActive() != false} ? ${slot.product.name}">not active</td>-->



                    <div th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'',''USER'')')}">
                        <td><a th:href="@{'/editslot/'+${slot.id}+'/'+${slot.machine_id}}">Edit</a></td>
                    </div>


                </tr>
                </tbody>
            </table>
        </div>

        </div>

</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>